@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');

/* CSS for All */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* CSS for Body */
body{
    height: 100vh;
    background: url(.images/bg.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}