@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&family=VT323:wght@100;200;300;400;500;700;900&family=Pacifico:wght@100;200;300;400;500;700;900&display=swap');

/* CSS for All */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Pacifico';

}
/* CSS for Body */
body{
    height: 100vh;
    /*background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);*/
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px; /* vertical & horizontal padding*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

#h1 {
    text-align:  center;
    padding-top: 10%;
    font-family: "pacifico";
    font-weight:500;
    font-size: 5rem;
    color:#1e272e;
}

#p1{
    text-align: center;
    font-family: 'VT323';
    color:#1e272e;
    font-size: 30px;
}

.logo{
    position: relative;
    font-size: 40px;
    color: #1e272e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: slideLeft 0.5s linear forwards;
    opacity: 0;
}


.toggle{
    position:relative;
    height: 30px;
    width: 30px;
    
    background: url("C:\\Users\\HP\\OneDrive\\Music\\Frenz-Project\\Images\\menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1000px;
    animation: slideRight 0.5s linear forwards;
    opacity: 0;
}

.toggle.active{
    background: url("C:\\Users\\HP\\OneDrive\\Music\\Frenz-Project\\Images\\close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.navigation
{
    position: absolute;
    display: flex;
    right: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.active{
    opacity:1;
    visibility: visible;
}
.navigation li{
    list-style: none;
}

.navigation li a{
    display: inline-block;
    text-decoration: none;
    margin: 0px 20px;
    color: #1e272e;
    font-size: 19px;
    font-weight: 1200px;
    opacity: 0;
    font-family: 'VT323';
}

.navigation.active li a{
    animation: slideRight 0s forwards;
    animation-delay: calc(var(--i) * 0.2s);

}

/* Adding animation to the page*/
@keyframes slideLeft
{
    0% {
        transform:translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideRight
{
    0% {
        transform:translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/* Making mobile ready*/

@media screen {
    
}